.music a.on {
    background-position: 0px 1px;
    -webkit-animation: reverseRotataZ 1.2s linear infinite;
}

@-webkit-keyframes reverseRotataZ {
    0% {
        -webkit-transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(-360deg);
    }
}

.music a {
    display: inline-block;
    width: 46px;
    height: 46px;
    overflow: hidden;
    background-image: url("../img/mcbg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.music a.stop {
    background-position: 1px bottom;

}